[Unit]
Description=OP-FW Socket Server
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RuntimeMaxSec=1d
RestartSec=5
User=root
WorkingDirectory=/var/www/admin-panel-socket
ExecStartPre=touch /tmp/op-fw.lock
ExecStart=bun main.js
ExecStopPost=rm -f /tmp/op-fw.lock
StandardOutput=append:/var/log/panel_socket.log
StandardError=append:/var/log/panel_socket.log

[Install]
WantedBy=multi-user.target
